<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         cacheResult="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php">
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Symfony LOCAL.FR Uberall Bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>